.Card-Carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 15px;
    margin: 20px;
    width: 100%;
    max-width: 32%;
    margin-left:0px;
    margin-right: -1px;
    background-color: #ffffff;
    border: 2px solid #58ad53;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s;
}

.Card-Carrito img {
    width: 200px;
    height: 200px;
    object-fit:contain;
    border-radius: 8px;
}

.Card-Carrito h3 {
    color: #58ad53;
    margin: 0;
    font-size: 1.2rem;
    text-decoration: underline;
    text-align: center;
}

.Card-Carrito p {
    margin: 0px 0;
    line-height: 1.4;
    text-align: justify;
}

.Card-Carrito b {
    color: #333;
    font-size: 1.1rem;
    padding: 8px 12px;
    background-color: #58ad53;
    color: white;
    border-radius: 5px;
}

.Card-Carrito button {
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    background-color: #58ad53;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.Card-Carrito button:hover {
    background-color: #3c8e39;
}

.productos-oficiales ul {
    list-style: none;
    padding: 0;
}

.productos-oficiales li {
    margin-bottom: 10px;
    align-items: center;
}

.btn-eliminar {
    margin-left: 10px;
    background-color: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-confirmar {
    margin-top: 15px;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
